<form role="search" method="get" id="searchform" action="{{ url('blog') }}">
  <div class="input-group">
    <label class="screen-reader-text" for="s">Search</label>
    <input type="text" class="search-input" name="s" id="s" value="" placeholder="Search">
    <input type="submit" id="searchsubmit" class="btn btn-default" value="Search">
  </div>
</form>
