@include component('cs-logos') {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &,
  .global-content & {
    list-style-type: none;
    list-style-image: none;
    margin: -32px 0 ms(12) 16px;
  }

  @include element('item') {
    align-items: center;
    display: flex;
    height: 127px;
    justify-content: center;
    width: 172px;
  }

  @include element('logo') {
    img {
      display: block;
      margin-bottom: 0;
      width: 140px;
    }

    svg {
      display: block;
      max-height: 60px;
      width: 130px;
    }
  }
}
