<script src="//app-ab22.marketo.com/js/forms2/js/forms2.min.js"></script>
<script>
  MktoForms2.loadForm("//app-ab22.marketo.com", "456-QCH-520", 1950, function(mktoForm){
    var SFscript = document.createElement('script');
    SFscript.setAttribute('src','//cdn.reachforce.com/SmartForms.js');
    SFscript.setAttribute('data-token','351');
    document.head.appendChild(SFscript);  
    var form = document.getElementById("mktoForm_1950"),
        spinner = document.getElementById("spinner");
    form.classList.add("fadeIn");
    spinner.classList.add("hidden");
    mktoForm.onSuccess(function(values, followUpUrl) {
      $('#RFLoadingFrame, #RFBlockFrame').hide();
      $('#formContainer').html('<h3>Thank you, your request has been received.<h3>');
      return false;
    });
  });

</script>
<div id="spinner" class="loader">Loading...</div>
<form id="mktoForm_1950"></form>