{% extends '_layout' %}

{% set bodyClass = 'compare-editions compare-editions_index' %}

{% block content %}
  <main role="main">
    <section class='compare-editions-leaderboard global-leaderboard'>
      <div class='module'>
        <div class='compare-editions-leaderboard__container global-leaderboard__container'>
          <h1>View LeanKit's Full Feature List</h1>
          <p>and see what's included in each edition</p>
        </div>
      </div>
    </section>
    <section class='compare-editions-tables'>
      <div class='module'>
        <div class='editions-matrix global-content table-responsive'>
          <!-- / Define & Visualize Your Processes -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-random"></span> Define &amp; Visualize Your Process</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Virtual Whiteboards</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Visually manage work of any type or size using LeanKit's virtual whiteboards. Unparalleled flexibility allows you to easily model any workflow process regardless of complexity.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Configurable Board Editor</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Create and edit your boards on-the-fly with the click of a button.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Vertical Lanes and Sublanes</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Add vertical lanes and divide them in to sub-lanes as needed to represent the steps in your process.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Horizontal Swimlanes</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use horizontal swimlanes to represent different workflows on the same board.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Board Template Library</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use our growing library of templates to easily create your first board or to gather inspiration for a new process.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Custom Board Templates</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Save your board designs as custom templates so that you can quickly and easily create a new board for similar work.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Board Templates with Cards</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Get started faster by creating a board template with pre-loaded cards.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Board Cloning</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Create an exact copy of a board for immediate use or to archive a board for later analysis.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Import Boards</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Import boards from other teams or organizations that are using a different LeanKit account (such as clients or partners that have related workflows).</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Plan & Structure Your Work -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-th-list"></span> Plan & Structure Your Work</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Backlog Management</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use the backlog section of each board to plan and organize upcoming work.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Archive Management</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Move all cards that have been completed or discarded to the archive section of each board.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Create, Edit and Move Cards</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use cards to represent work items and deliverables. Add new cards, edit existing ones and easily drag and drop cards across the board.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Card Types and Colors</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use a different set of card types on each board to represent different work categories (e.g., task, deliverable, issue). Associate each card type with a different color.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Descriptions and Hyperlinks</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Add card descriptions to provide full work context and hyperlink to external resources as needed.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>File Attachments</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Upload and attach almost any type of standard image or document to your cards. File and total storage sizes are listed for each edition.</span>
                  </span>
                </td>
                <td class='text-item'><span class="size">50MB/1TB</span></td>
                <td class='text-item'><span class="size two-lines">75MB/<br /><span class="unltd">Unlimited</span></span></td>
                <td class='text-item'><span class="size two-lines">75MB/<br /><span class="unltd">Unlimited</span></span></td>
                <td class='text-item'><span class="size two-lines">75MB/<br /><span class="unltd">Unlimited</span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Import Card Data</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Import card data onto your boards from a spreadsheet (csv) format to get started quickly with new projects.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Export Card Data</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Export card data from your boards into a spreadsheet (csv) format.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Custom Card Headers</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use custom card IDs to easily sort and search for cards within a board. Cards can also be associated with other external systems using standard prefixes, text, links, and numbers.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Single Board Connections</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Break down work by connecting a parent card to children cards on a board.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Board to Board Connections</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Break down work by connecting a parent card to children cards on a separate board.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Visualize Connections</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Visualize connections on a board by showing relationships between parents &amp; children to easily identify dependencies and project tasks.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Multiple Board Connections</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Break down work by connecting a parent card to children cards on multiple boards.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Multiple Parent Connections</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Allow for children cards to have multiple parent cards via connections &ndash; identify dependencies, tie work to projects and initiatives, etc.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Custom Card Fields</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Tailor LeanKit to meet the needs of your business by capturing additional information in custom card fields that are unique to your organization or team.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Track & Visually Manage Your Work -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-tasks"></span> Track & Visually Manage Your Work</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Snapshot Dashboard</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>See updated snapshots of all your boards on the home page for a quick status update.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Start and Finish Dates</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Set the date by which each work item should be started and/or completed.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Blockers</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Visually communicate if a work item is currently blocked and the reason why. The reason for unblocking a card can also be captured.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Card Size</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use the card size field to capture the estimated amount of work associated with a card.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Card Priority</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Visually identify the priority of each work item (low, high, or critical).</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Multi-user Assignment</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Designate multiple team members to work on a card. Upload avatars to visually represent each team member assigned to the card.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Card History</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>View a complete audit trail of all changes made to a card.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Activity Stream</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Stay up-to-date with every action taken on your team's board.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Tags</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Tag cards with key words to group, search, filter, and report on work items more easily.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Global Search</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Quickly locate a card on any board, from any board, and navigate to the card in a single click. In addition to card title and description, global search indexes task boards, comments, tags external IDs and cards in the backlog or archive.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Filters</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Filter board views by user, due date, card type, card tag, priority, blockers, staleness, and custom icons to highlight specific items.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Task Boards</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Track the details related to your work by grouping associated tasks within a card. A progress bar on the face of the card shows the number of completed tasks compared to the total.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Task Types</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Add customizable card types and granular card filtering to task boards. Task types help you manage multiple kinds of work effectively, within a single card.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Custom Card Icons</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use custom card icons with flexible field labeling to further categorize, filter, and report on your work.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Move Cards Between Boards</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Move cards to and from any board that have you listed as a user.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Analyze & Report on Your Data -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-signal"></span> Analyze & Report on Your Data</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Lead and Cycle Time</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Understand how long it takes to complete each work item, either from the point at which the work enters the board or from the point the work is started. This information can be used to determine where work is slowing down in your process.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Work Distribution</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Understand the distribution of work by team member, process step, type of work, the priority level of each work type and by a specific work type attribute.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Assigned User</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Identify individuals or skill sets that are overburdened, understand key resource capacity, and see where additional resources might be needed.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Cumulative Flow and Burn-Up</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>See how smoothly work flows through your process and determine if the team can complete its current workload by a particular date.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Process Efficiency</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Measure when work in queue grows as a percentage of total work in progress (WIP). Determine where work is likely stuck in a queue and also investigate what can be done to get work flowing again.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Burndown</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Understand if you’re on track to complete all planned work by the end of your sprint and see the impact of unplanned work. Helpful for teams practicing Scrum and Scrumban.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Exceptions</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Identify work items in real time that are blocked, stale or delayed so that you can proactively intervene to keep key deliverables on track.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Multi-board Exceptions</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>See potential problems &mdash; including blocked, stale and delayed work items &mdash; across all of your boards in a single report.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Planned Percent Complete</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Understand how reliably your team hits planned delivery dates by seeing the percentage of work that has been completed early, on-time, and late. Helpful for teams who use planned finish dates to schedule their work.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Advanced Reporting</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Access your LeanKit data in your business intelligence tool of choice to meet your organization's unique reporting needs.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Collaborate with Each Other -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-user"></span> Collaborate with Each Other</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Mobile Browser Support</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Stay connected with your work anytime, anywhere using LeanKit in the browser on your mobile device.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>@mentions</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use @mentions in the card description, comments, and blocker notes to notify team members of updates.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Card Subscriptions</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Subscribe to a card to receive notifications by email or RSS feed when a card is updated.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Comment Threads</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Manage and track communication related to a specific card using comments.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Post Comments via Email</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Use email to easily add a comment to a card by replying directly to an emailed notification.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Board and Lane Subscriptions</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Subscribe to a board or lane to receive notifications by email or RSS feed to track card activities on a board or within a particular lane.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Reader Licenses</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Give stakeholders the ability to view specific boards and respond to email notifications. 5 reader licenses included with every 50 user licenses purchased.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Improve Your Process -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-wrench"></span> Improve Your Process</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Lane Policies</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Ensure process consistency across your team. Define and add policies to the appropriate lanes, and then hover over the lane’s information icon to read the policy.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Work-in-Process (WIP) Limits</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Set limits on the number of cards that can be put in any lane or sublane on your board, or define the number of items that can be assigned to each team member.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>WIP Violations and Override</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Instantly see when WIP limit violations have occurred. If necessary, you can manually override WIP limits and track the reason.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Integrate With Other Systems -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-move"></span> Integrate With Other Systems</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>ALM Integrations</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Integrate LeanKit with your existing ALM suites, including Agile planning, issue tracking and testing tools.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Business Application Integrations</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Integrate LeanKit with your existing business applications, including PPM, ITSM and service desk tools.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Open API</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Open API access supports up to 30,000 queries per day for Select, Standard and Lite editions. Unlimited API access available with Advanced and Enterprise editions.</span>
                  </span>
                </td>
                <td class='text-item'>Limited</td>
                <td class='text-item'>Limited</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>User Provisioning API</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Account administrators can avoid manual user management by using our API or SCIM 1.1-compliant integration to connect with existing identity management tools.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Manage Your Data Securely -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-lock"></span> Manage Your Data Securely</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>SSL Encryption</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Provides industry standard private application security.</span>
                  </span>
                </td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Role-based Board Level Security</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Control access to specific boards based on user roles and limit the actions a user can perform &mdash; such as create, edit and move cards, set and modify WIP limits, and change the board layout. Roles available are no access, user, reader, manager, and administrator.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Export Board History</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Get a complete audit trail of how work was completed. Historical data that tracks every change to a card, and data can be exported for further analysis.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Enhanced Security Administration</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Enhance your security options with the ability to set account lock policies and other granular security settings.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>SSO</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Integrate with your SAML based SSO tool to support single sign-on and improve user management capabilities.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                    <span>Planview Enterprise One Integration</span>
                    <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Connect strategy and delivery with an integrated approach that connects Lean-Agile execution, portfolio management, and strategic planning.</span>
                    </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
              </tr>
              <tr>
                <td class='feature'>
                  <span>Private Cloud</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Enhance the speed and security of your company's LeanKit account by creating a private cloud that isolates your data from other customer data.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
          <!-- / Services -->
          <table class='table-minimal'>
            <thead>
              <tr>
                <th class='section-title'>
                  <h3><span class="glyphicon glyphicon-globe"></span> Services</h3>
                </th>
                <th class='edition'>Standard</th>
                <th class='edition'>Select</th>
                <th class='edition'>Advanced</th>
                <th class='edition'>Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='feature'>
                  <span>Account Manager</span>
                  <span class='more-info-tooltip'>
                    <span class='more-info-tooltip__tip'>Receive onboarding support and ongoing account management services.</span>
                  </span>
                </td>
                <td class='check'>&nbsp;</td>
                <td class='check'>&nbsp;</td>
                <td class='check'><span></span></td>
                <td class='check'><span></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section class='try-leankit-cta'>
      <div class='module'>
        <div class='try-leankit-cta__button'>
          <a class='try-leankit__cta' href='https://leankit.com/get-leankit/' title='Get LeanKit'>
            <span class='trial'>Try LeanKit free for 30 days</span>
            <small>No credit card or obligation required</small>
          </a>
        </div>
        <div class='try-leankit__info'>
          <p>
            Purchase LeanKit within the application anytime during your 30-day trial, or continue with our free
            <span class='more-info-tooltip more-info-tooltip--text'>
              Lite Edition
              <span class='more-info-tooltip__tip'>Lite edition is free for up to three users and comes with two kanban boards.</span>
            </span>
            at the end.
          </p>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
